<nav class="navbar">
    <input type="text" class="form-control" name="portfolio_name" [(ngModel)]="portfolio_name" (ngModelChange)="Search()"
    placeholder="Enter PORTFOLIO_NAME Name To Search">
  </nav>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>PORTFOLIO_NAME</th>
        <th>SECTOR</th>
        <th>BUSINESS_RISK_PROFILE</th>
        <th>ANCHOR</th>
        <th>SACP</th>
        <th>ILLUSTRATIVE_CREDIT_RATING</th>
        <th>LAST_UPDATED_DATE</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{insurancedata.portfolio_name}}</td>
        <td>{{insurancedata.sector}}</td>
        <td>{{insurancedata.Business_risk_profile}}</td>
        <td>{{insurancedata.anchor}}</td>
        <td>{{insurancedata.SACP}}</td>
        <td>{{insurancedata.illustrative_credit_rating}}</td>
        <td>{{insurancedata.last_updated_date}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" [routerLink]="['/addinsurancelist']">Add New Insurance</button>
  